@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-3rd: 232, 232, 232;
    --bg-menu-wrapper: 34,34,34;
    --bg-secondary: 33, 33, 33;
    --color-learn-2: 255, 249, 209;
    --gold: 255, 241, 133;
    --inner-width: 1920px;
    --pad-inner: 52px;
    --sf-bg: 209, 209, 209;
    --color-primary: 122, 122, 122;
    --ch-bg: 232, 232, 232;
    --min-height-login: 693px;

    @media only screen and (max-width: 600px) {
        --pad-inner: 16px;
    }
}

body {
    box-sizing: border-box;
    font-size: 14px;
    background-color: rgb(var(--ch-bg));
}

.inner {
    max-width: var(--inner-width);
    padding: 0 var(--pad-inner);
    margin: 0 auto;
}

/********************************** MENU *********************************/

.menu {
    &-float {

        &__top {
            background-color: #2C2C2C;
            border-radius: 8px;
            color: white;
            overflow-x: hidden;
            width: 100%;
            transition: all .3s ease;
            

            & > div {
                @media only screen and (max-width: 638px) {
                    flex-direction: column;
                    min-width: 80vw;
                }
            }
        }

        &__bottom {
            transition: all .3s ease;
            &::before {
                content: "";
                height: 60px;
                transition: all .3s ease;
            }

            & .is-show &::before {
                flex: 0;
                width: 100%;
            }
        }

        &__col {
            background-image: linear-gradient(to bottom, #7a7a7a 0 10%, rgba(255, 255, 255, 0) 10%);
            background-position: left top;
            background-repeat: repeat-y;
            background-size: 1px 8px;
            margin-right: 40px;
        }

        &__menu {
            &-nav {
                li {
                    font-size: 15px;
                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }

                    a {
                        display: block;
                        padding: 8px 0 8px 16px;
                        border-left: 1px solid rgba(0,0,0,0);
                        transition: all .3s;

                        &:hover {
                            color: rgb(var(--gold));
                            border-left: 1px solid rgb(var(--gold));
                        }
                    }
                }
            }
            &-section {
                color: rgb(167, 167, 167);
                &::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: -16.5px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: rgb(var(--color-learn-2));
                }
            }
        }

        &__wrapper {
            border-radius: 12px;
            background-color: rgba(var(--bg-menu-wrapper), .8);
            transition: all .3s ease;
            max-width: 616px;


            &.is-open {
                min-width: fit-content;
                max-width: 1200px;
                transition: all .3s ease;

             
            }


            @media only screen and (max-width: 638px) {
                max-width: 135px;
            }
        }

        &__layout {
            &--primary {
                border-radius: 12px;
                overflow: hidden;
                background-color: rgba(var(--bg-secondary));
                transition: all .3s ease;
            }
            &--secondary {
                border-radius: 8px; 
                overflow: hidden;
                background-color: #3e3e3e;
                transition: all .3s ease;

                @media only screen and (max-width: 638px) {
                    display: none;
                }
            }
        }

        &__items {
            border: 1px solid #4e4e4e;
            white-space: no-wrap;
            color: #D3D3D3;
            height: 48px;
            padding: 0 12px;
            cursor: pointer;
            overflow: hidden;
            margin-left: 6px;
            border-radius: 8px;
            transition: all .3s ease;

            &:hover {
                border-color: #a7a7a7;
            }
        }

        &__content {
            width: 100%;
            height: 60px;
            transition: all .3s ease;
            &.is-active {
                max-width: 1200px;
            }
        }

        &__hamburger {
            position: relative;
            width: 20px;
            height: 30px;
            cursor: pointer;
            pointer-events: auto;
            margin-left: auto;
            
            & div {
                position: absolute;
                top: 0px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 10px;
                height: 1px;
                background-color: white;
                transform: translateZ(0);

                &:nth-child(1) {
                    top: -8px;
                }

                &:nth-child(3) {
                    top: 8px;
                }
            }

            &.is-open {
                div {
                    opacity: 0;
                    &:nth-child(1) {
                        top: 0px;
                        opacity: 1;
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        top: 0px;
                        opacity: 1;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}


/******************************** BT NAV **************************/

.bt-nav {
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 60px;
    z-index: 99;
    background-color: rgb(var(--bg-secondary));  
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
    
    &--left {
        left: 20%;
    }
}


/********************************** HEADER *****************************/

.header {

    &-main {
        &__right {
            gap: 12px;
            height: 48px;
            margin-left: 20px;
        }

        &__user {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 16px;

            & a {
                @media only screen and (max-width: 600px) {
                    display: none;
                    visibility: hidden;
                }
            }
        }

        &__ico {
            display: none;
            visibility: hidden;

            @media only screen and (max-width: 600px) {
                display: flex;
                align-items: center;
                cursor: pointer;
                visibility: visible;
            }
        }

        &__bts{
            display: flex;
            gap: 12px;
            margin-left: 8px;

            @media only screen and (max-width: 1060px) {
                display: none;
                visibility: hidden;
            }
        }
    }

    &-search {
        &__results {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgb(var(--bg-secondary));
            border-radius: 8px;
            font-size: 10.5px;
            transition: all .3s ease;
            color: rgb(var(--color-primary));
        }

        &__content-results {
            gap: 80px;
            padding: 90px 0 54px 36px;
        }

        &__right {
            flex: 1;
            min-width: 0;
        }

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            transition: all .3s;
        }
    }


}


/********************************* SEARCH FORM ****************************/

.search {
    &-form {
        height: 48px;
        padding-right: 20px;
        background-color: rgb(var(--sf-bg));
        border-radius: 8px;
        &.dark {
            background-color: #383838;
            color: #a7a7a7;
            svg {
                fill: #a7a7a7;
            }
        }

    
        &__field {
            padding-left: 20px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

           
        }
    
        &__button {
            padding: 0;
            border: none;
            cursor: pointer;
    
            svg {
                fill: #a7a7a7;
            }
        }
    
        &__input {
            padding-left: 10px;
            border: none;
            background-color: rgba(0,0,0,0);
            outline: none;

            &::placeholder {
                color: #a7a7a7;
            }
        }
    
        &__separator {
            margin: 0 20px;
            font-size: 11px;
            @media only screen and (max-width: 1060px) {
                display: none;
                visibility: hidden;
            }
        }
    }
    

/********************************* Search Dropdown ***************************/
    &-dropdown {
        width: 150px;
        cursor: pointer;
        border-radius: 26px;
        @media only screen and (max-width: 1060px) {
            display: none;
            visibility: hidden;
        }

        &__arrow {
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            z-index: 2;
            transform: all .3s ease;


            &.is-active {
                top: calc(50% - 5px);
                fill: white;    
                transform: scaleY(-1);
                transform: all .3s ease;
            }
        }

        &__selected {
            padding-right: 30px;
            font-weight: 500;
            z-index: 2;
            &.is-active {
                padding-left: 16px;
                color: white;
            }
        }

        &__options {
            position: absolute;
            top: calc(100% - 34px);
            width: calc(100% + 28px);
            padding: 40px 0 10px 0;
            background-color: rgb(var(--bg-secondary));
            border-radius: 8px;
            color: white;
            transform: translateX(-8px);
            overflow: hidden;
            transition: all .3s ease;
            
        }

        &__option {
            display: block;
            padding: 8px 24px;
            color: white;
            transition: all .3s ease;

            &:hover {
                opacity: .7;
            }

            &.is-child {
                padding-left: 36px;
            }
        }
    }

}


/******************************* button ********************************/
.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background-color: #222;
    font-size: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    transition: all .3s ease;

    &:hover {
        color: white !important;
        background-color: #383838 !important;
        
        & svg {
            fill: currentColor;
        }
    }

    &[class*="--rounded"]{
        border-radius: 8px;
    }

    &--outline--rounded {
       background: rgba(0,0,0,0);
        border: 1px solid #222 !important;
        color: #222 !important;
    }

    &[class*="--x-small"] {
        min-width: 32px;
        height: 32px;
        padding: 0 12px;
        line-height: 32px;
    }

    &[class*="--tag"] {
        font-size: 16px;
        background-color: rgba(0,0,0,0);
        border-radius: 72px;
        border: 1px solid rgba(34,34,34,.3);
    }

    &[class*="--dark"] {
        color: white;
        border-color: rgba(255,255,255,.4);
        &:hover {
            color: rgb(var(--color-primary));
            border-color: white;
            background: white;
        }
    }

    &[class*="--outline"] {
        background: rgba(0,0,0,0);
        border: 1px solid white;
    }

    &[class*="--outline--white"] {
        border-color: #fff;
        color: #fff;
    }

    &[class*="--large"] {
        --button-height: 72px;
        min-width: var(--button-height);
        height: var(--button-height);
        padding: 0 1.6em;
        font-size: 20px;
        font-weight: 400;
        line-height: var(--button-height);
    }

    &[class*="--full"] {
        width: 100%;
    }

    &[class*="--outline--gray"] {
        border-color: #d3d3d3;
    }

    

}

/*************************************** SLIDER *******************************************/

.slider {
    &-header {
        position: relative;
        z-index: 0;
        padding-right: 10%;
        overflow: hidden;

        &__nav {
            display: flex;
            justify-content: flex-end;
        }

        &__btnav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            fill: var(--color-white);
            cursor: pointer;
            transition: all .3s;

            svg {
                fill: white;
            }
        }
    }

    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        cursor: grab;
        transition: all .3s ease;
    }

    &-slide {
        width: 350px;
        flex-shrink: 0;
        height: 100%;
        position: relative;
        margin-right: 16px;

        h6 {
            line-height: 130%;
            font-size: 16px;
            font-weight: 300;
            color: white;
        }
    }
}


/************************************ MARQUEE **********************************/

.marquee {
    height: 50px;

    &.font-40 {
        font-size: 40px;
    }
    
    &.dark {
        background-color: #222;
        color: white;
    }

    &__wrapper {
        animation: marquee 10s linear infinite;
    }

    &__item {
        padding: 0 16px;
    }

    &__separator {
        position: relative;
        top: -1px;
        margin: 0 16px;
        font-size: 1.3em;
        vertical-align: middle;
        fill: currentColor;
    }
}

@keyframes marquee {
    0% { transform: translate3d(-0px, 0px, 0px); }
    100% { transform: translate3d(-280px, 0px, 0px); }
}


/***************************** HEADER ****************************/

.heading {
    
    &-svg {
        margin: clamp(20px,3vw,50px) 0px;
        
        &__title {
            width: 100%;
            height: auto;
            fill: #222;
            font-weight: bold;
        }
    }
}


/*********************************** CARD ************************************/

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: clamp(20px,3vw,50px) 0px;
    border-radius: 16px;
    aspect-ratio: 16/7;
    overflow: hidden;

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        width: 100%;
        padding: 0 clamp(20px,3vw,60px) clamp(20px,3vw,30px) clamp(20px,3vw,60px);
        pointer-events: none;
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: all .3s;
    }

    &:hover &__btn {
        opacity: 1;
    }
    
}


/***************************************** TEXT SLIDER ******************************/

.textSlider {
    position: relative;
    z-index: 1;
    height: 142px;
    overflow: hidden;


    &__slide {
        width: 1696px;
        color: white;

        h6 {
            font-size: clamp(40px, 15.3521126761px + 4.9295774648vw, 110px);
            line-height: 110px;
        }
    }
}

/************************************** TAGS INFO ****************************************/

.tags-info {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: clamp(30px,4vw,60px) 0;

    &__left {
        font-size: clamp(28px,18.1408450704px + 1.9718309859vw,56px);
        font-weight: 700;
    }

    &__right {
        p {
            font-size: 16px;
            width: 740px;
            max-width: 100%;
        }
    }
}


/********************************************* MODAL ***************************************/

.modal {
    padding: clamp(24px, 3vw, 48px) 0;
    background-color: rgba(0,0,0,.7);
    overscroll-behavior: contain;
    transition: all .3s ease;

    & .bt-nav {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 30;
    }

    &--large &__container {
        width: 1142px;
    }

    &__container {
        position: relative;
        display: inline-block;
        max-width: 100%;
        margin: auto 0;

    }
}


/************************************************* LOGIN ******************************************/

.login {
    position: relative;
    width: 100%;
    height: var(--min-height-login);
    border-radius: 20px;
    overflow: hidden;
    background-color: white ;

    &__container {
        min-height: var(--min-height-login);
    }

    &__left {
        background-color: rgb(var(--bg-3rd));
    }

    &__inner {
        padding: 50px;
        height: 100%;
        
        h3 {
            margin-bottom: 36px;
        }
    }

    &__logo {
        gap: 2vw;
        font-size: 162px;

        & > svg:nth-child(1) {
            width: auto;
            height: 65px !important;
        }
    }

    &__forgot {
        margin-top: -1em;
        text-align: right;
    }

    &__bottom {
        a {
            color: #222;
        }
    }



}


/****************************************** LOADER *************************************/

.loading {
    transform: scale(0.5);
    background-color: white;
}

/*************************************** LINK ******************************/

.link-underlined {
    position: relative;
    display: inline-block;
    line-height: 100%;
    color: rgb(var(--bg-menu-wrapper));
    border: none;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        bottom: -0.2em;
        left: 0;
        width: 100%;
        height: 2px;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, rgb(var(--bg-menu-wrapper)) 45%, rgba(var(--bg-menu-wrapper), 0.3) 55%);
        background-size: 220% 100%;
        background-position: 100% 50%;
        transition: .3s ease-out;
    }

    &:hover::before {
        background-position: 0 50%;
    }
}

/*********************************************** FORM *************************************************/

.form {
    --height-input: 48px;
    --pad-input: 16px;
    &__row {
        margin-bottom: 30px;
    }

    &-field {
        position: relative;
        width: 100%;
        
        &__label {
            display: block;
            margin-bottom: 8px;
            line-height: 100%;
            text-transform: uppercase;
            color: rgb(166, 166, 166);
        }

        .text-input {
            display: block;
            height: var(--height-input);
            padding: 0 var(--pad-input);
            background-color: transparent;
            color: #222;
            outline: none;
            border-bottom: 1px solid rgb(var(--bg-3rd));
            width: 100%;
            &::placeholder {
                color: rgb(211, 211, 211);
                font-weight: 300;
            }
        }

        .input-check {
            --color-primary: #222;
            

            label {
                display: inline-block;
                position: relative;
                padding-left: 25px;
                margin-right: 30px;
                line-height: 130%;
                cursor: pointer;
            
                &::after {
                    content: "";
                    position: absolute; 
                    top: 4px;
                    left: 5px;
                    width: 9px;
                    height: 9px;
                    background: var(--color-primary);
                    border-radius: 2px;
                    transition: all .3s;
                }
    
    
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 19px;
                    height: 19px;
                    margin-top: -10px;
                    border: 2px solid #d3d3d3;
                    border-radius: 4px;
                }

                
            }
        }
    }

}