@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-menu-wrapper: 34,34,34;
    --bg-secondary: 33, 33, 33;
    --color-learn-2: 255, 249, 209;
    --gold: 255, 241, 133;
    --inner-width: 1920px;
    --pad-inner: 52px;
    --sf-bg: 232, 232, 232;
    --color-primary: 122, 122, 122;

    @media only screen and (max-width: 600px) {
        --pad-inner: 16px;
    }
}

body {
    box-sizing: border-box;
    font-size: 14px;
}

/********************************** MENU *********************************/

.menu {
    &-float {

        &__top {
            background-color: #2C2C2C;
            border-radius: 8px;
            color: white;
            overflow-x: hidden;
            width: 100%;
            transition: all .3s ease;
            

            & > div {
                @media only screen and (max-width: 638px) {
                    flex-direction: column;
                    min-width: 80vw;
                }
            }
        }

        &__bottom {
            transition: all .3s ease;
            &::before {
                content: "";
                height: 60px;
                transition: all .3s ease;
            }

            & .is-show &::before {
                flex: 0;
                width: 100%;
            }
        }

        &__col {
            background-image: linear-gradient(to bottom, #7a7a7a 0 10%, rgba(255, 255, 255, 0) 10%);
            background-position: left top;
            background-repeat: repeat-y;
            background-size: 1px 8px;
            margin-right: 40px;
        }

        &__menu {
            &-nav {
                li {
                    font-size: 15px;
                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }

                    a {
                        display: block;
                        padding: 8px 0 8px 16px;
                        border-left: 1px solid rgba(0,0,0,0);
                        transition: all .3s;

                        &:hover {
                            color: rgb(var(--gold));
                            border-left: 1px solid rgb(var(--gold));
                        }
                    }
                }
            }
            &-section {
                color: rgb(167, 167, 167);
                &::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: -16.5px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: rgb(var(--color-learn-2));
                }
            }
        }

        &__wrapper {
            border-radius: 12px;
            background-color: rgba(var(--bg-menu-wrapper), .8);
            transition: all .3s ease;
            max-width: 616px;


            &.is-open {
                min-width: fit-content;
                max-width: 1200px;
                transition: all .3s ease;

             
            }


            @media only screen and (max-width: 638px) {
                max-width: 135px;
            }
        }

        &__layout {
            &--primary {
                border-radius: 12px;
                overflow: hidden;
                background-color: rgba(var(--bg-secondary));
                transition: all .3s ease;
            }
            &--secondary {
                border-radius: 8px; 
                overflow: hidden;
                background-color: #3e3e3e;
                transition: all .3s ease;

                @media only screen and (max-width: 638px) {
                    display: none;
                }
            }
        }

        &__items {
            border: 1px solid #4e4e4e;
            white-space: no-wrap;
            color: #D3D3D3;
            height: 48px;
            padding: 0 12px;
            cursor: pointer;
            overflow: hidden;
            margin-left: 6px;
            border-radius: 8px;
            transition: all .3s ease;

            &:hover {
                border-color: #a7a7a7;
            }
        }

        &__content {
            width: 100%;
            height: 60px;
            transition: all .3s ease;
            &.is-active {
                max-width: 1200px;
            }
        }

        &__hamburger {
            position: relative;
            width: 20px;
            height: 30px;
            cursor: pointer;
            pointer-events: auto;
            margin-left: auto;
            
            & div {
                position: absolute;
                top: 0px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 10px;
                height: 1px;
                background-color: white;
                transform: translateZ(0);

                &:nth-child(1) {
                    top: -8px;
                }

                &:nth-child(3) {
                    top: 8px;
                }
            }

            &.is-open {
                div {
                    opacity: 0;
                    &:nth-child(1) {
                        top: 0px;
                        opacity: 1;
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        top: 0px;
                        opacity: 1;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}


/******************************** BT NAV **************************/

.bt-nav {
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 60px;
    background-color: rgb(var(--bg-secondary));  
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
    
    &--left {
        left: 20%;
    }
}


/********************************** HEADER *****************************/

.header {
    .inner {
        max-width: var(--inner-width);
        padding: 0 var(--pad-inner);
        margin: 0 auto;
    }

    &-main {
        &__right {
            gap: 12px;
            height: 48px;
            margin-left: 20px;
        }

        &__user {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 16px;

            & a {
                @media only screen and (max-width: 600px) {
                    display: none;
                    visibility: hidden;
                }
            }
        }

        &__ico {
            display: none;
            visibility: hidden;

            @media only screen and (max-width: 600px) {
                display: flex;
                align-items: center;
                cursor: pointer;
                visibility: visible;
            }
        }

        &__bts{
            display: flex;
            gap: 12px;
            margin-left: 8px;

            @media only screen and (max-width: 1060px) {
                display: none;
                visibility: hidden;
            }
        }
    }

    &-search {
        &__results {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgb(var(--bg-secondary));
            border-radius: 8px;
            font-size: 10.5px;
            transition: all .3s ease;
            color: rgb(var(--color-primary));
        }

        &__content-results {
            gap: 80px;
            padding: 90px 0 54px 36px;
        }

        &__right {
            flex: 1;
            min-width: 0;
        }

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            transition: all .3s;
        }
    }


}


/********************************* SEARCH FORM ****************************/

.search {
    &-form {
        height: 48px;
        padding-right: 20px;
        background-color: rgb(var(--sf-bg));
        border-radius: 8px;
        z-index: 1;
        &.dark {
            background-color: #383838;
            color: #a7a7a7;
            svg {
                fill: #a7a7a7;
            }
        }

    
        &__field {
            padding-left: 20px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

           
        }
    
        &__button {
            padding: 0;
            border: none;
            cursor: pointer;
    
            svg {
                fill: #a7a7a7;
            }
        }
    
        &__input {
            padding-left: 10px;
            border: none;
            background-color: rgba(0,0,0,0);
            outline: none;

            &::placeholder {
                color: #a7a7a7;
            }
        }
    
        &__separator {
            margin: 0 20px;
            font-size: 11px;
            @media only screen and (max-width: 1060px) {
                display: none;
                visibility: hidden;
            }
        }
    }
    

/********************************* Search Dropdown ***************************/
    &-dropdown {
        width: 150px;
        cursor: pointer;
        border-radius: 26px;
        @media only screen and (max-width: 1060px) {
            display: none;
            visibility: hidden;
        }

        &__arrow {
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            z-index: 2;
            transform: all .3s ease;


            &.is-active {
                top: calc(50% - 5px);
                fill: white;    
                transform: scaleY(-1);
                transform: all .3s ease;
            }
        }

        &__selected {
            padding-right: 30px;
            font-weight: 500;
            z-index: 2;
            &.is-active {
                padding-left: 16px;
                color: white;
            }
        }

        &__options {
            position: absolute;
            top: calc(100% - 34px);
            width: calc(100% + 28px);
            padding: 40px 0 10px 0;
            background-color: rgb(var(--bg-secondary));
            border-radius: 8px;
            color: white;
            transform: translateX(-8px);
            overflow: hidden;
            transition: all .3s ease;
            
        }

        &__option {
            display: block;
            padding: 8px 24px;
            color: white;
            transition: all .3s ease;

            &:hover {
                opacity: .7;
            }

            &.is-child {
                padding-left: 36px;
            }
        }
    }

}


/******************************* button ********************************/
.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background-color: #222;
    font-size: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    transition: all .3s ease;

    &:hover {
        color: white;
        background-color: #383838;
    }

    &[class*="--rounded"]{
        border-radius: 8px;
    }

    &--outline--rounded {
       background: rgba(0,0,0,0);
        border: 1px solid #222;
        color: #222;
    }

    &[class*="--x-small"] {
        min-width: 32px;
        height: 32px;
        padding: 0 12px;
        line-height: 32px;
    }

    &[class*="--tag"] {
        font-size: 16px;
        background-color: rgba(0,0,0,0);
        border-radius: 72px;
        border: 1px solid rgba(34,34,34,.3);
    }

    &[class*="--dark"] {
        color: white;
        border-color: rgba(255,255,255,.4);
        &:hover {
            color: rgb(var(--color-primary));
            border-color: white;
            background: white;
        }
    }

}

/*************************************** SLIDER *******************************************/

.slider {
    &-header {
        position: relative;
        z-index: 0;
        padding-right: 10%;
        overflow: hidden;

        &__nav {
            display: flex;
            justify-content: flex-end;
        }

        &__btnav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            fill: var(--color-white);
            cursor: pointer;
            transition: all .3s;

            svg {
                fill: white;
            }
        }
    }

    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        cursor: grab;
        transition: all .3s ease;
    }

    &-slide {
        width: 350px;
        flex-shrink: 0;
        height: 100%;
        position: relative;
        margin-right: 16px;

        h6 {
            line-height: 130%;
            font-size: 16px;
            font-weight: 300;
            color: white;
        }
    }
}